{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Ваше имя пользователя или пароль не совпадают.
            Попробуйте снова
        </p>
    {% else %}
        <p>У вас еще нет аккаунта? <a href="{% url "register" %}">Зарегистрируйтесь здесь</a></p>
    {% endif %}
    <div class="login-form">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"/></p>
        </form>
        <p>
            <a href="{% url "password_reset" %}">Забыли свой пароль?</a>
        </p>
    </div>
{% endblock %}