{% extends 'base.html' %}

{% block title %}Изменить пароль{% endblock %}

{% block content %}
    <h1>Изменить пароль</h1>
    {% if validlink %}
        <p>Введите новый пароль дважды</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Поставить новый пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка не активна, возможно потому что она уже была использована.
            Запросите новую смену пароля.</p>
    {% endif %}
{% endblock %}