{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "account/styles.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <span class="logo">Blogs</span>
    <ul class="menu">
        <li {% if section == 'subscriptions' %}class="selected" {% endif %}>
            <a href="#">Подписки</a>
        </li>
        <li {% if section == 'new' %}class="selected" {% endif %}>
            <a href="#">Новое</a>
        </li>
        <li {% if section == 'best' %}class="selected" {% endif %}>
            <a href="#">Лучшее</a>
        {# TODO: Здесь будет поиск #}
    </ul>
    <span class="user">
        {% if request.user.is_authenticated %}
            <a href="#" {% if section == 'best' %}class="selected" {% endif %}>♥</a>

            Hello {{ request.user.first_name|default:request.user.username }}
            <a href="{% url "logout" %}">Выйти</a>
        {% else %}
            <a href="{% url "login" %}">Войти</a>
        {% endif %} 
    </span>
</div>
<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div id="content">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>