{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "account/styles.css" %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script>
        const csrftoken = Cookies.get('csrftoken');
        document.addEventListener('DOMContentLoaded', (event) => {
            {% block domready %}
            {% endblock %}
        });
    </script>
</head>
<body>
<div id="header">
    <a href="{% url "blog_app:post_list" %}"><span class="logo">Blogs</span></a>
    <ul class="menu">
        <li {% if section == 'subs' %}class="selected" {% endif %}>
            <a href="{% url 'blogs:post_list_from_subs' %}">Подписки</a>
        </li>
        <li {% if section == 'new' %}class="selected" {% endif %}>
            <a href="{% url 'blogs:post_list_latest' %}">Новое</a>
        </li>
        <li {% if section == 'best' %}class="selected" {% endif %}>
            <a href="{% url 'blogs:post_list_popular' %}">Лучшее</a>
        </li>
        <li {% if section == 'search' %}class="selected" {% endif %}>
            <a href="{% url 'blogs:post_search' %}">Поиск</a>
        </li>
    </ul>
    <span class="user">
        {% if request.user.is_authenticated %}
            <a href="{% url "blogs:post_list_liked" %}" {% if section == 'liked' %}class="selected" {% endif %}>🤍</a>
            <a href="{% url "user_detail" request.user.username %}">
                {{ request.user.profile.blog_name|default:request.user.username }}
            </a>
            <a href="{% url "logout" %}">Выйти</a>
        {% else %}
            <a href="{% url "login" %}">Войти</a>
        {% endif %} 
    </span>
</div>
<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div id="content">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>