{% extends 'base.html' %}

{% block title %}Изменить пост{% endblock %}

{% block content %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Сохранить"/>
    </form>
    {% if post.status == "DF" %}
        <a class="button" href="{% url "blog_app:publish" post.id %}">Выложить</a>
    {% endif %}

    <a class="button" href="{{ user.profile.get_absolute_url }}">Вернуться</a>
    <a class="delete-button" href="{% url "blog_app:delete" post.id %}">Удалить</a>
{% endblock %}