{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}Поиск{% endblock %}

{% block content %}
    {% if query %}
        <h1>Посты с "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Найден{% if total_results != 1 %}о{% endif %} {{ total_results }}
                {% if total_results == 1 %}
                    пост
                {% elif 2 <= total_results and total_results <= 4 %}
                    поста
                {% else %}
                    постов
                {% endif %}
            {% endwith %}
        </h3>
        {% for post in results %}
            <h4>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
                {{ post.body|markdown|truncatewords_html:12 }}
            </h4>
        {% empty %}
            <p>По вашему запросу ничего не найдено :(</p>

        {% endfor %}
        <p><a href="{% url "blog_app:post_search" %}">Найти снова</a></p>
    {% else %}
        <h1>Поиск по постам</h1>
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="Поиск"/>
        </form>
    {% endif %}
{% endblock %}